.cart-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn-checkout-order {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    background: #1d9c5d;
    text-decoration: none;
}
