.user-info-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: -10px 10px 5px 0px #FFE0B3;
}

.form-title {
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 2rem;
}

.input-field input {
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    outline-color: #2A414F;
}

.input-field button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #2A414F;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.2s ease-in;
}

.input-field button:hover {
    background-color: rgba(255, 153, 0, 0.3);
    border-color: rgba(255, 153, 0, 0.3);
    color: #2A414F;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.form-link {
    color: #2A414F;
    margin: 1rem 0;
}

.form-link a {
    color: #FF9900;
}

.divider-line {
    display: flex;
    align-items: center;
    color: #95A0A7;
}

.divider-line hr {
    width: 35%;
    outline: none;
    border: none;
    background-color: #95A0A7;
    height: 1px;
}

.social-login-btn {
    display: flex;
    width: 85%;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #95A0A7;
}

.social-login-btn:hover {
    background-color: transparent;
}

.social-login-btn img {
    width: 40px;

}
