.container {
    background: #1C2B35;
    padding: 1rem 2rem;
}

.navbar {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: #FF9900;
}

.active {
    color: #FF9900;
}

.nav-btn {
    color: #fff;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #FF9900;
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: #FF9900;
    padding: 0.8rem 2rem;
}

.nav-btn:hover {
    color: #FF9900;
    background-color: transparent;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

.list-item {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 10px;
}
